@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Inicio</h1>

<h3>Bienvenido a la Tarea Web</h3>

<p> Esta es una App Creada con Blazor WebAssembly.</p>

<p>Para Iniciar, Navega por las diferentes Opciones de la App utilizando el Menu de Navegacion</p>

<img class="img-fluid" src="https://img.desmotivaciones.es/201609/motivaciones-imagenes-11.jpg"/>

<h3> Una pequeña frase motivadora para ti:</h3>
<p> Sin Sacrificio No Puede Haber Victoria.</p>



